@import '@core/scss/angular/libs/datatables.component.scss';
@import '~quill/dist/quill.snow.css';

.datatable-scroll {
  width: auto !important;
}

/* CSS */
.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 6px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}