<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <!-- <app-content-header [contentHeader]="contentHeader"></app-content-header> -->

    <!-- Kitchen Sink Datatables -->
    <section id="ngx-datatable-kitchen-sink">
      <!-- <core-card-snippet [snippetCode]="_snippetCodeKitchenSink"> -->
      <h4 class="card-title">Exams</h4>
      <div class="row">
        <div class="col-4 mb-50" *ngIf="this.isAdmin">
          <label>College</label>
          <select class="custom-select" name="CollegeId" id="CollegeId" (change)="collegeOnChange($event.target)"
            [(ngModel)]="selectedCollege">
            <option value="">Select</option>
            <option *ngFor="let option of collegeList" [value]="option.id">{{option.name}}</option>
          </select>
        </div>
        <div class="col-4 mb-50">
          <label>Courses</label>
          <select class="custom-select" name="CollegeId" id="CollegeId" (change)="coursesOnChange($event.target)"
            [(ngModel)]="selectedCourse">
            <option value="">Select</option>
            <option *ngFor="let option of coursesList" [value]="option.id">{{option.name}}</option>
          </select>
        </div>
        <div class="col-4 mb-50">
          <label>Semesters</label>
          <select class="custom-select" name="CollegeId" id="CollegeId" (change)="semesterOnChange($event.target)"
            [(ngModel)]="selectedSemester">
            <option value="">Select</option>
            <option *ngFor="let option of semesterList" [value]="option.id">{{option.semester}}</option>
          </select>
        </div>
        <div class="col-12 mb-50">
          <a csvLink [data]="exportCSVData" class="btn btn-outline-secondary float-right pt-1 mr-1" rippleEffect>Export
            CSV</a>
        </div>
        <div class="col-md-6 col-12">
          <div class="d-flex justify-content-between align-items-center m-1">
            <label class="d-flex align-items-center">Show
              <select class="form-control mx-25" [(ngModel)]="basicSelectedOption">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
              entries</label>
          </div>
        </div>
        <div class="col-md-6 col-12 d-flex justify-content-md-end">
          <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
            <label class="d-flex align-items-center">Search<input type="search" placeholder="Search"
                class="form-control ml-25" (keyup)="filterUpdate($event)" (search)="filterUpdate($event)" /></label>
          </div>
        </div>
      </div>
      <ngx-datatable [rows]="kitchenSinkRows" [rowHeight]="58" class="bootstrap core-bootstrap" [limit]="10"
        [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true"
        [selectionType]="SelectionType.checkbox" [limit]="basicSelectedOption" (activate)="onActivate($event)"
        (select)="onSelect($event)">
        <!-- <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false"
          [resizeable]="false">
          <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" [checked]="allRowsSelected"
                (change)="selectFn(!allRowsSelected)" id="headerChkbxRef" />
              <label class="custom-control-label" for="headerChkbxRef"></label>
            </div>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-isSelected="isSelected"
            let-onCheckboxChangeFn="onCheckboxChangeFn">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" [checked]="isSelected"
                (change)="onCheckboxChangeFn($event)" id="rowChkbxRef{{ rowIndex }}" />
              <label class="custom-control-label" for="rowChkbxRef{{ rowIndex }}"></label>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Name" prop="subjectName" [width]="280">
          <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
            <div class="d-flex align-items-center">
              <div *ngIf="row.avatar.length > 0; else customAvatar">
                <img class="rounded-circle mr-1" src="assets/images/portrait/small/{{ row.avatar }}" height="32"
                  width="32" alt="datatable-avatar" />
              </div>
              <ng-template #customAvatar>
                <div class="avatar mr-1 ml-0" [ngClass]="{
                      'bg-light-primary': row.status == '1',
                      'bg-light-success': row.status == '2',
                      'bg-light-danger': row.status == '3',
                      'bg-light-warning': row.status == '4',
                      'bg-light-info': row.status == '5'
                    }">
                  <div class="avatar-content">{{ name | initials }}</div>
                </div>
              </ng-template>
              <div class="cell-line-height">
                <p class="font-medium-1 font-weight-bold line-height-1 mb-25">
                  {{ name }}
                </p>
                <span class="text-muted font-small-2"> {{ row.post }}</span>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Email" prop="email" [width]="250"></ngx-datatable-column>
        <ngx-datatable-column name="Date" prop="start_date" [width]="120"></ngx-datatable-column>
        <ngx-datatable-column name="Salary" prop="salary" [width]="120"></ngx-datatable-column>
        <ngx-datatable-column name="Status" prop="status" [width]="120">
          <ng-template let-status="value" ngx-datatable-cell-template>
            <div class="badge badge-pill" [ngClass]="{
                  'badge-light-primary': status == '1',
                  'badge-light-success': status == '2',
                  'badge-light-danger': status == '3',
                  'badge-light-warning': status == '4',
                  'badge-light-info': status == '5'
                }">
              {{
              status == 1
              ? 'Current'
              : status == 2
              ? 'Professional'
              : status == 3
              ? 'Rejected'
              : status == 4
              ? 'Resigned'
              : status == 5
              ? 'Applied'
              : 'Applied'
              }}
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Actions" [width]="120" [sortable]="false">
          <ng-template ngx-datatable-cell-template>
            <div class="d-flex align-items-center">
              <div ngbDropdown container="body">
                <a ngbDropdownToggle href="javascript:void(0);" class="hide-arrow" id="dropdownBrowserState"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i data-feather="more-vertical" class="text-primary cursor-pointer mr-50"></i>
                </a>
                <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBrowserState">
                  <a href="javascript:void(0)" ngbDropdownItem class="d-flex align-items-center"><i
                      data-feather="file-text" class="mr-50"></i> Details</a>
                  <a href="javascript:void(0)" ngbDropdownItem class="d-flex align-items-center"><i
                      data-feather="archive" class="mr-50"></i> Archive</a>
                  <a href="javascript:void(0)" ngbDropdownItem class="d-flex align-items-center"><i
                      data-feather="trash-2" class="mr-50"></i> Delete</a>
                </div>
              </div>

              <i data-feather="edit" class="text-primary cursor-pointer"></i>
            </div>
          </ng-template>
        </ngx-datatable-column> -->
        <ngx-datatable-column name="name" prop="name" [width]="250"></ngx-datatable-column>
        <ngx-datatable-column name="markPerQuestion" prop="markPerQuestion" [width]="120"></ngx-datatable-column>
        <ngx-datatable-column name="totalMarks" prop="totalMarks" [width]="120"></ngx-datatable-column>
        <ngx-datatable-column name="Time (Minutes)" prop="totalExamTimeInMinutes" [width]="120"></ngx-datatable-column>
        <ngx-datatable-column name="examTime" prop="examTime" [width]="120"></ngx-datatable-column>
        <!-- <ngx-datatable-column name="Status" prop="isActive" [width]="120">
          <ng-template let-isActive="value" ngx-datatable-cell-template>
            <div class="badge badge-pill" [ngClass]="{
                  'badge-light-success': isActive != false,
                  'badge-light-danger': isActive == false
                }">
              {{
              isActive != false
              ? 'Active'
              : 'Inactive'
              }}
            </div>
          </ng-template>
        </ngx-datatable-column> -->
        <ngx-datatable-column name="Actions" [width]="120" [sortable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="d-flex align-items-center">
              <!-- <div ngbDropdown container="body">
                <a ngbDropdownToggle href="javascript:void(0);" class="hide-arrow" id="dropdownBrowserState"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i data-feather="more-vertical" class="text-primary cursor-pointer mr-50"></i>
                </a>
                <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBrowserState"> -->
              <!-- <a href="javascript:void(0)" ngbDropdownItem class="d-flex align-items-center"><i
                      data-feather="file-text" class="mr-50"></i> View</a> -->
              <ng-template #examDetails let-modal>
                <div class="modal-header">
                  <!-- <h4 class="modal-title" id="myModalLabel1">Add Chapter</h4> -->
                  <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" tabindex="0" ngbAutofocus>
                  <ngx-datatable [rows]="userExamListUserWise" [rowHeight]="58" class="bootstrap core-bootstrap"
                    [limit]="10" [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50"
                    [scrollbarH]="true" [selectionType]="SelectionType.checkbox" [limit]="basicSelectedOption"
                    (activate)="onActivate($event)" (select)="onSelect($event)">
                    <ngx-datatable-column name="question" prop="question" [width]="250"></ngx-datatable-column>
                    <ngx-datatable-column name="a" prop="a" [width]="120"></ngx-datatable-column>
                    <ngx-datatable-column name="b" prop="b" [width]="120"></ngx-datatable-column>
                    <ngx-datatable-column name="c" prop="c" [width]="250"></ngx-datatable-column>
                    <ngx-datatable-column name="d" prop="d" [width]="120"></ngx-datatable-column>
                    <ngx-datatable-column name="ans" prop="ans" [width]="120"></ngx-datatable-column>
                    <ngx-datatable-column name="userAnswer" prop="userAnswer" [width]="120"></ngx-datatable-column>
                    <ngx-datatable-column name="isRight" prop="isRight" [width]="120"></ngx-datatable-column>
                    <ngx-datatable-column name="description" prop="description" [width]="120"></ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </ng-template>

              <ng-template #modalForm let-modal>
                <div class="modal-header">
                  <!-- <h4 class="modal-title" id="myModalLabel1">Add Chapter</h4> -->
                  <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" tabindex="0" ngbAutofocus>
                  <ngx-datatable [rows]="userExamList" [rowHeight]="58" class="bootstrap core-bootstrap" [limit]="10"
                    [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true"
                    [selectionType]="SelectionType.checkbox" [limit]="basicSelectedOption"
                    (activate)="onActivate($event)" (select)="onSelect($event)">
                    <ngx-datatable-column name="userName" prop="userName" [width]="250"></ngx-datatable-column>
                    <ngx-datatable-column name="totalMark" prop="totalMark" [width]="120"></ngx-datatable-column>
                    <ngx-datatable-column name="result" prop="result" [width]="120"></ngx-datatable-column>
                    <ngx-datatable-column name="View" [width]="120">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <a (click)="modalOpenFormExam(examDetails,row)" class="d-flex align-items-center"><i
                            data-feather="file-text" class="mr-50"></i></a>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </ng-template>
              <a (click)="modalOpenForm(modalForm,row)" class="d-flex align-items-center"><i data-feather="file-text"
                  class="mr-50"></i></a>
              <!-- <a (click)="modalOpenWarning(modalWarning,row.id)" class="d-flex align-items-center"><i
                  data-feather="trash-2" class="mr-50"></i></a> -->
              <!-- </div> -->
              <ng-template #modalWarning let-modal>
                <div class="modal-header">
                  <h5 class="modal-title" id="myModalLabel160">Are You Sure ?</h5>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="deleteData()" rippleEffect>
                    Yes
                  </button>
                  <button type="button" class="btn btn-warning" (click)="modal.close('Accept click')" rippleEffect>
                    No
                  </button>
                </div>
              </ng-template>
              <!-- </div> -->

              <!-- <i data-feather="edit" class="text-primary cursor-pointer"></i> -->
            </div>
          </ng-template>
        </ngx-datatable-column> -->
      </ngx-datatable>
      <!-- </core-card-snippet> -->
    </section>
    <!--/ Kitchen Sink Datatables -->
  </div>
</div>